/*table{*/
    /*width:400px;*/
    /*height:400px;*/


    /*border:solid red 1px;*/
/*}*/
/*.blackbox{*/
    /*width:50px;*/
    /*height:50px;*/
    /*background-color:black;*/
/*}*/
/*.whitebox {*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*background-color:white;*/

/*}*/

.main_div {
    border: solid 1px;
    width: 560px;
    height: 640px;
}

.child_div {
    background-color: black;
    width: 80px;
    height: 80px;
    float: left;
}

.child_div2 {
    background-color: white;
    width: 80px;
    height: 80px;
    float: left;
}