 #chessboard{
    width:400px;
    height:400px;


    border:solid red 1px;
}
.blackbox{
    width:50px;
    height:50px;
    background-color:black;
    border-collapse: collapse;
    border-radius:50%
}

.whitebox {
    width: 50px;
    height: 50px;
    background-color:white;
    border-collapse: collapse;
    border-radius: 50%;

}
.divchessboard{
    float:left;
}

